.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
    border: 10px ridge #A40000;
    box-shadow: 0 0 10px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0),
    0 0 30px rgb(255, 0, 0), 0 0 30px rgb(255, 0, 0);
  }
  
  .App {
    text-align: center;
  }

  .btn {
    background: #ba0000;
    background-image: -webkit-linear-gradient(top, #ba0000, #ff0000);
    background-image: -moz-linear-gradient(top, #ba0000, #ff0000);
    background-image: -ms-linear-gradient(top, #ba0000, #ff0000);
    background-image: -o-linear-gradient(top, #ba0000, #ff0000);
    background-image: linear-gradient(to bottom, #ba0000, #ff0000);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    -webkit-box-shadow: 0px 0px 15px #ff0000;
    -moz-box-shadow: 0px 0px 15px #ff0000;
    box-shadow: 0px 0px 15px #ff0000;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 3px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #ff0000;
    background-image: -webkit-linear-gradient(top, #ff0000, #ba0000);
    background-image: -moz-linear-gradient(top, #ff0000, #ba0000);
    background-image: -ms-linear-gradient(top, #ff0000, #ba0000);
    background-image: -o-linear-gradient(top, #ff0000, #ba0000);
    background-image: linear-gradient(to bottom, #ff0000, #ba0000);
    text-decoration: none;
  }

  .attempts{
    color: white;
    font-size: 30px;
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgb(255, 0, 0),
                 0 0 30px rgb(255, 0, 0), 0 0 40px rgb(255, 0, 0);
  }
  